<H1> Data Science Tools and Ecosystem </H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- List popular languages for Data Science.
- List of the commonly used libraries used by Data Scientists include.
- List of development environment open source tools used in data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy
5. Seaborn

<table>
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>RStudio</td>
</tr>

<tr>
<td>Apache</td>
</tr>

<tr>
<td>Spark</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
def convert(minutes):
    hours = minutes / 60
    return hours
convert(200)

3.3333333333333335

## Author 
Sara Nasr Saeed Nasr